[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.0"
autopep8 = "==1.6.0"
bleach = "==5.0.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
cloudinary = "==1.29.0"
coverage = "==6.3.2"
dj-database-url = "==0.5.0"
dj3-cloudinary-storage = "==0.0.6"
django-cloudinary-storage = "==0.3.0"
django-summernote = "==0.8.20.0"
gunicorn = "==20.1.0"
idna = "==3.3"
psycopg2 = "==2.9.3"
pycodestyle = "==2.8.0"
pyfiglet = "==0.8.post1"
pytz = "==2022.1"
requests = "==2.27.1"
six = "==1.15.0"
sqlparse = "==0.4.2"
tk = "==0.1.0"
toml = "==0.10.2"
urllib3 = "==1.26.9"
webencodings = "==0.5.1"
Django = "==3.2.13"
ez_setup = "==0.9"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
